################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules/.bin
/node_modules
/NodejsWebApp1.njsproj
/__rzi_0.265
/README.md
/typings
